@font-face {
    font-family: Otsutome;
    src: url(Fonts/Otsutome.ttf);
}

head, body {
    background-color: #FFFFF4;
    overflow-x: hidden;
    width: 100%;
    position: fixed;
}




/*Main Structure*/


/*Classes*/
.largeText {
    font-size: 12vw;
}
.mediumText {
    font-size: 8vw;
}
.smallText {
    font-size: 4vw;
}
.verySmallText {
    font-size: 2vw;
}
.extremelySmallText {
    font-size: 1vw;
}

.halfText-left {
    width: 50vw;
    left: 2.5vw;
    position: absolute;
}

.noMargin {
    margin: 0;
}

.noFlowImage {
    position: absolute;
}

/*Specifics*/

/*Wrapper div to prevent horizontal scrolling*/
#indexPage {
    overflow-x: hidden;
    left: -5px;
    width: 110%;
    height: 100%;
    position: fixed;
}

#sakuraText {
    font-family: Otsutome;
    
    font-size: 3.5vw;
    
    color: rgb(255, 51, 204);
}

#landingBlock {
    font-family: Otsutome;
    
    width: 40vw;
    margin-left: calc(50% - 25vw);
    margin-top: 10vw;
}

#brightSakura {
    width: 55vw;
    height: 55vw;
    
    z-index: -1;
    left: 50vw;
    top: 25vw;
}
#darkSakura {
    width: 55vw;
    height: 55vw;
    
    z-index: -2;
    left: 50vw;
    top: 20vw;
}

#brightTorii {
    width: 57.5vw;
    height: 57.5vw;
    
    z-index: -1;
    left: -25vw;
    top: calc(100vh - 47.5vw);
}
#darkTorii {
    width: 57.5vw;
    height: 57.5vw;
    
    z-index: -2;
    left: -20vw;
    top: calc(100vh - 47.5vw);
}