@font-face {
    font-family: Otsutome;
    src: url(Fonts/Otsutome.ttf);
}

head, body {
    background-color: #FFFFF4;
    overflow-x: hidden;
    width: 100%;
    position: fixed;
}

/*Desktop*/

@media screen and (min-aspect-ratio: 1001/1000) {
    
    #mobilePage {
        display: none;
    }
    
    /*Fixed content*/
    
    #fixedContent {
        position: fixed;
        width: 100%;
        height: 100%;
    }
    
    #topLanding {
        font-family: Otsutome;
        
        position: absolute;
        width: 10vw;
        left: calc(50% - 5vw);
    }
    
    #topLanding > .largeText {
        font-size: 3vw;
        margin: 0;
    }
    #topLanding > .smallText {
        font-size: 1vw;
        margin: 0;
    }
    
    #jumpButton {
        color: rgb(180, 180, 180);
        font-family: Otsutome;
        font-size: 5vw;
        
        position: absolute;
        left: calc(50% - 1.25vw);
        top: 85vh;
        width: 2.5vw;
        
    }
    
    #topLinks {
        display: none;
    }
    
    /*Classes*/
    .noFlowImage {
        position: absolute;
    }
    
    
    /*Sakura Section*/
    
    #brightSakura {
        
        width: max(50vh, 50vw);
        
        top: calc(min(15%, 5vh) + 2.5vw);
        right: -2.5vw;
        z-index: -1;
    }
    #darkSakura {
        width: max(50vh, 50vw);
        
        top: min(15%, 5vh);
        right: -2.5vw;
        z-index: -2;
    }
    
}

/*Mobile*/
@media screen and (max-aspect-ratio: 1/1) {

#mobilePage {
    overflow-x: hidden;

    left: -5vw;
    top: 2.5px;
    width: 110%;
    height: 100%;
    position: fixed;
    
}
#desktopPage {
    display: none;
}



/*Classes*/

.largeText {
    font-size: 1.5em;
}
.mediumText {
    font-size: 1em;
}
.smallText {
    font-size: 0.5em;
}

.noMargin {
    margin: 0;
}

.section {
    position: relative;
    display: block;
}

.noFlowImage {
    position: absolute;
}

.backgroundImageHolder {
    display: inline-block;
}

/*Specifics*/    

/*Landing*/
#landingBlock {
    position: relative;
    display: block;
    
    width: 8.5em;
    margin-left: calc(50% - 4.25em);
    margin-top: 2.5em;
    
    font-family: Otsutome;
}

#landingBlock > .largeText {
    font-size: 2.5em;
}
#landingBlock > .smallText {
    font-size: 0.75em;
}

/*Sakura Section*/

#sakuraSection {
    font-family: Otsutome;
    color: rgb(255, 51, 204);
    margin-left: 5%;
}

#sakuraSection > .halfText {
    width: 50vw;
    margin-left: 2.5vw;
    margin-top: 10vw;
    display: inline-block;
    
    font-size: 3.5vw;
}

#sakuraSection > .fullText {
    width: 95vw;
    margin-left: 2.5vw;
    margin-top: -2vw;
    
    font-size: 3.5vw;
}

#sakuraSection > #javaButton {
    background-color: rgb(230, 0, 172);
    color: white;
    text-align: center;
    font-size: 7.5vw;
    
    margin-left: calc(50vw - 1em);
    
    width: 2em;
    
    
    border-radius: 10px;
}

#sakuraSection > #javaButton > a {
    margin-top: 5px;
}

#sakuraSection > #javaButton > a:link {
    color: white;
    text-decoration: none;
}
#sakuraSection > #javaButton > a:visited {
    color: white;
    text-decoration: none;
}
#sakuraSection > #javaButton > a:hover {
    color: white;
    text-decoration: none;
}
#sakuraSection > #javaButton > a:active {
    color: white;
    text-decoration: none;
}

#brightSakura {
    z-index: -1;
    
    width: 50vw;
    height: 50vw;
    
    right: 0;
    top: 4vw;
}
#darkSakura {
    z-index: -2;
    
    width: 50vw;
    height: 50vw;
    
    right: 0vw;
}

/*Torii Section*/

#toriiSection {
    font-family: Otsutome;
    color: rgb(0, 255, 255);
}

#toriiSection > .halfText {
    width: 70vw;
    margin-left: 30vw;
    margin-top: 6vw;
    display: inline-block;
    
    font-size: 3.5vw;
}

#toriiSection > .fullText {
    width: 95vw;
    margin-left: 7.5vw;
    
    font-size: 3.5vw;
}

#toriiSection > #assemblyButton {
    background-color: rgb(0, 179, 179);
    color: white;
    text-align: center;
    font-size: 7.5vw;
    
    margin-left: calc(50vw - 1.5em);
    
    width: 4em;
    
    
    border-radius: 10px;
}

#toriiSection > #assemblyButton > a {
    margin-top: 5px;
}

#toriiSection > #assemblyButton > a:link {
    color: white;
    text-decoration: none;
}
#toriiSection > #assemblyButton > a:visited {
    color: white;
    text-decoration: none;
}
#toriiSection > #assemblyButton > a:hover {
    color: white;
    text-decoration: none;
}
#toriiSection > #assemblyButton > a:active {
    color: white;
    text-decoration: none;
}

#brightTorii {
    z-index: -1;
    
    width: 50vw;
    height: 50vw;
    
    left: -22.5vw;
}
#darkTorii {
    z-index: -2;
    
    width: 50vw;
    height: 50vw;
    
    left: -20vw;
}

/*Dragon Section*/

#dragonSection {
    font-family: Otsutome;
    color: rgb(255, 51, 204);
    margin-left: 5%;
}

#dragonSection > .halfText {
    width: 70vw;
    margin-left: 2.5vw;
    margin-top: 10vw;
    display: inline-block;
    
    font-size: 3.5vw;
}

#dragonSection > .fullText {
    width: 95vw;
    margin-left: 2.5vw;
    
    font-size: 3.5vw;
}

#dragonSection > #htmlButton {
    background-color: rgb(230, 0, 172);
    color: white;
    text-align: center;
    font-size: 7.5vw;
    
    margin-left: calc(50vw - 1.5em);
    
    width: 3em;
    
    
    border-radius: 10px;
}

#dragonSection > #htmlButton > a {
    margin-top: 5px;
}

#dragonSection > #htmlButton > a:link {
    color: white;
    text-decoration: none;
}
#dragonSection > #htmlButton > a:visited {
    color: white;
    text-decoration: none;
}
#dragonSection > #htmlButton > a:hover {
    color: white;
    text-decoration: none;
}
#dragonSection > #htmlButton > a:active {
    color: white;
    text-decoration: none;
}

#brightDragon {
    z-index: -1;
    
    width: 30vw;
    height: 60vw;
    
    right: 0;
    top: 4vw;
}
#darkDragon {
    z-index: -2;
    
    width: 30vw;
    height: 60vw;
    
    right: 0vw;
}

/*Ryu Section*/

#ryuSection {
    font-family: Otsutome;
    color: rgb(0, 255, 255);
}

#ryuSection > .halfText {
    width: 70vw;
    margin-left: 30vw;
    margin-top: 10vw;
    display: inline-block;
    
    font-size: 3.5vw;
}


#brightRyu {
    z-index: -1;
    
    width: 50vw;
    height: 50vw;
    
    left: -16vw;
}
#darkRyu {
    z-index: -2;
    
    width: 50vw;
    height: 50vw;
    
    top: 1vw;
    left: -15vw;
}

}



